.overlay-career2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.5);
   
  }
  
  .image-container-career2 {
    position: relative;
    width: 100%;
    height: 500px;
  }
  
  .image-container-career2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-container-career2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
  }
  
  .text-container-career2 h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  
  .text-container-career2 p {
    font-size: 1.5rem;
  }



/* .contact-container2 {
    max-width: 1200px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .contact-column2 {
    margin: 0 20px;
    flex: 1;
    text-align: center;
} */
/* 
h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-bottom: 50px;
}

p,
li {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.contact-main {
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 450px;
    background-size: cover;
}

.image-container-map {
    position: relative;
    width: 100%;
    height: 500px;
  }
  
  .image-container-map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */